/**
 * Power Dashboard Theme - Optimized for readability
 */

* {
    bg0:    #111111;
    bg1:    #222222;
    fg0:    #ffffff;
    acc:    #686868;

    font:   "CaskaydiaCove Nerd Font 14";
    background-color:   transparent;
    text-color:         @fg0;
    margin:     0px;
    padding:    0px;
    spacing:    0px;
}

window {
    location:       center;
    width:          600px; /* Genişlik ayarlandı */
    border:         2px;
    border-color:   @fg0;
    background-color:   @bg0;
}

mainbox {
    padding:    20px;
    children:   [ listview ];
}

listview {
    spacing:    10px;
    lines:      3;
    columns:    1;
    fixed-height: true;
}

element {
    padding:    15px 20px;
    background-color:   @bg1;
}

element selected {
    background-color:   @acc;
    text-color:         @bg0;
}

element-text {
    vertical-align: 0.5;
    horizontal-align: 0.0; /* Sola yaslandı */
    text-color: inherit;
}
